<div class="main top-main">
  <div class="top-message">
    <h2>一言で世界はつながる</h2>
    <p>あなたも始めてみよう！</p>
    <a class="btn twitter" href="#">新規登録</a>
    <a class="btn login" href="#">ログイン</a>
  </div>
</div>